@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  /* @apply bg-gradient-to-r from-gray-100 to-gray-300; */
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  @apply mb-5 block   rounded-2xl border border-slate-300  shadow-2xl;
}

.gradient {
  background: linear-gradient(90deg, #1f86ab 0%, #86d7ff 100%);
}
.cont {
  @apply container m-auto mt-4 px-4;
}
.navbar {
  background: linear-gradient(90deg, #1f86ab 0%, #86d7ff 100%);
  @apply sticky top-0 z-50 text-white;
}
html:not([data-scroll='0']) .navbar {
  background: #fff;
  color: black;
}

header.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color: #fff;
  box-shadow: 5px -1px 12px -5px grey;
}

.card:hover .scaling {
  @apply scale-105 shadow-2xl shadow-black;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-sky-600  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}
