@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  @apply mb-5 block   rounded-2xl border border-slate-300  shadow-2xl;
}

.card:hover .scaling {
  @apply scale-105 shadow-2xl shadow-black;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-sky-600  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}
